{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}
{% import 'macros/form.html' as f with context %}

{% block title %}Canopact - Route Cleaner{% endblock %}

{% block body %}

  {% if routes.count() == 0 %}
    <h3>No results found</h3>
  {% else %}

    <div class="container">
      <div class="row">
        <div class="col-xs-8">
          {{ f.search('carbon.cleaner') }}

          {% if routes.count() == 0 %}
            {% if request.args.get('q') %}
              <p>Try limiting or removing your search terms.</p>
            {% else %}
              <p>There are no routes present.</p>
            {% endif %}
          {% endif %}
        </div>
        <div class="col-xs-4">
          <a href="{{ url_for('carbon.routes_edit') }}" class="btn btn-primary btn-block">
            Edit
          </a>
        </div>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-header">
              {{ items.sort('report_name', 'Report') }}
          </th>
          <th class="col-header">
              {{ items.sort('expense_created_date', 'Date') }}
          </th>
          <th class="col-header">
              {{ items.sort('expense_merchant', 'Merchant') }}
          </th>
          <th class="col-header">
              {{ items.sort('expense_comment', 'Comment') }}
          </th>
          <th class="col-header">
              {{ items.sort('expense_category', 'Category') }}
          </th>
          <th class="col-header">
              {{ items.sort('origin', 'Origin') }}
          </th>
          <th class="col-header">
              {{ items.sort('destination', 'Destination') }}
          </th>
      </tr>
      </thead>
      <tbody>
        {% for route in routes %}
          <tr>
            <td>{{ route.report_name }}</td>
            <td>{{ route.expense_created_date }}</td>
            <td>{{ route.expense_merchant }}</td>
            <td>{{ route.expense_comment }}</td>
            <td>{{ route.expense_category }}</td>
            <td>{{ route.origin }}</td>
            <td>{{ route.destination }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% endif %}
{% endblock %}
