{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}
{% import 'billing/macros/billing.html' as billing with context %}

{% block heading %}
  {% if current_user.subscription %}
    <h2 class="text-center">You're about to change plans</h2>
    <div class="alert alert-warning text-center margin-bottom">
      Your plan will change <strong>immediately</strong> after clicking
      'Change plan'.
    </div>
  {% else %}
    <h2 class="text-center">Canopact Plans</h2>
  {% endif %}
{% endblock %}

{% block body %}
  {% call f.form_tag('billing.update', class='text-center') %}
    {% if current_user.subscription %}
      <div class="lg-margin-bottom">
        <div class="coupon-code">
          {{ form.coupon_code.label }}
          {{ f.field(form.coupon_code) }}
          <div id="coupon_code_status"
               class="small alert alert-small alert-success">
          </div>
        </div>
      </div>
    {% endif %}
    <div class="row">
      {% call billing.plan(plans['0']) %}
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item">Full access to Canopy Dashboard</li>
          <li class="list-group-item">Full access to Route Cleaner</li>
          <li class="list-group-item">Expensify API Integration</li>
          <li class="list-group-item">1 tree planted per user per month</li>
          <li class="list-group-item">Unlimited API queries</li>
        </ul>
      {% endcall %}
    </div>
  {% endcall %}
{% endblock %}
