{% extends 'layouts/login.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Confirm your email address{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4 well">
      {% call f.form_tag('user.awaiting') %}
        <legend>Confirm your email address</legend>
        <p class="small help-block sm-margin-bottom">
          We'll send you an email to confirm your email address.
        </p>

        {% call f.form_group(form.identity, css_class='sm-margin-bottom',
                             autofocus='autofocus') %}
        {% endcall %}

        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-block">
              Resend Email
            </button>
          </div>
          <div class="col-md-6">
            <div class="visible-xs visible-sm sm-margin-top"></div>
            <a href="{{ url_for('page.home') }}"
                class="btn btn-default btn-block">
              Back to Home
            </a>
          </div>
        </div>
      {% endcall %}
    </div>
  </div>
{% endblock %}
