{% extends 'layouts/app.html' %}

{% block title %}Account settings{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-5">
      <h2>Settings</h2>
      <h4 class="text-muted margin-bottom">{{ current_user.email }}</h4>

      <div class="list-group">
        <a href="{{ url_for('company.invite') }}"
           class="list-group-item">
           Invite Team Members
        </a>
        <a href="{{ url_for('user.expensify_login') }}"
           class="list-group-item">
           Connect Expensify Account
        </a>
        <a href="{{ url_for('user.update_credentials') }}"
           class="list-group-item">
          Update email and password
        </a>
      </div>
    </div>
    <div class="col-md-5 col-md-push-1 col-md-offset-1">
      {% if current_user.subscription %}
        <h2>{{ current_user.subscription.plan | title }}
          subscription</h2>
        <h4 class="text-muted margin-bottom">
          {{ current_user.credit_card.brand }}
          ****{{ current_user.credit_card.last4 }}
          ({{ current_user.credit_card.exp_date.strftime('%m/%Y') }})
        </h4>

        <div class="list-group">
          <a class="list-group-item"
             href="{{ url_for('billing.update_payment_method') }}">
            Update payment info
          </a>
          <a class="list-group-item"
             href="{{ url_for('billing.billing_details') }}">
            Billing details
          </a>
          <a class="list-group-item"
             href="{{ url_for('billing.cancel') }}">
            <span class="text-muted">Cancel subscription</span>
          </a>
        </div>
      {% else %}
        <h2>Billing</h2>
        <h4 class="text-muted margin-bottom">Subscription: Free Trial</h4>
        <div class="panel panel-default">
          <div class="panel-body">
              Days left on trial: {{ days_left_on_trial }}
          <!-- <hr> -->
            <!-- <a href="{{ url_for('billing.pricing') }}"
            class="btn btn-primary">Subscribe</a> -->
          </div>
        </div>

        {% if current_user.invoices %}
        <hr/>
          <h3>Previous subscription info</h3>
          <div class="list-group">
            <a class="list-group-item"
              href="{{ url_for('billing.billing_details') }}">
              Billing details
            </a>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
