<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard
* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com
=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}{% endblock stylesheets %}
  <title>{% block title %} Dashboard {% endblock %}</title>

    <!-- Favicon - loaded as static -->
    <link rel="icon" href="/static/images/favicon.jpeg" type="image/png">

</head>

<body>

  {% include "dashboard/navigation.html" %}

  {% with emissions=emissions %}
    {% include "dashboard/charts.html" %}
  {% endwith %}

  {% include "dashboard/scripts.html" %}

  {% include "dashboard/footer.html" %}

  <!-- Specific JS goes HERE --> 
  {% block javascripts %}{% endblock javascripts %}

  <script src="/static/js/argon.js?v=1.2.0"></script>

</body>

</html>