{% extends 'layouts/base.html' %}

{% block title %}Test your luck against the roll of the dice{% endblock %}
{% block meta_description %}Compete against yourself and others by guessing the
outcome of a dice roll. Win points and dominate the leaderboard.{% endblock %}

{% block body %}
  <div class="container sm-margin-top">
    <div class="row text-center lg-margin-bottom">
      <h1>Canopact</h1>
      <h3 class="text-muted">
        Track your Expensify carbon emissions in real time
      </h3>
    </div>
    <div class="row text-center">
        <a href="#" class="btn btn-default">Sign up</a>
    </div>
  </div>
{% endblock %}
