{% extends 'layouts/app.html' %}

{% block title %}Terms of Service{% endblock %}
{% block heading %}<h2>Canopact Terms and conditions of use</h2>{% endblock %}

{% block body %}

  <h3>1.Introduction</h3>
    <p>
      1.1	These terms and conditions shall govern your use of Canopact’s website (“website”).
    </p>
    <p>
      1.2	By using our website, you accept these terms and conditions in full; accordingly, if you disagree
      with these terms and conditions or any part of these terms and conditions, you must not use our website.
    </p>
    <p>
      1.3	If you register with our website, submit any material to our website or use any 
      of our website services, we will ask that you review these terms and conditions prior to use. 
    </p>
    <p>
      1.3	If you register with our website, submit any material to our website or use any 
      of our website services, we will ask that you review these terms and conditions prior to use. 
    </p>
    <p>
      1.4	You must be at least 16 years of age to use our website; by using our website or agreeing to these terms and
      conditions, you warrant and represent to us that you are at least 16 years of age. 
    </p>
    <p>
      1.5	Our website uses cookies; by using our website or agreeing to these terms and conditions,
      you consent to our use of cookies in accordance with the terms of our privacy policy.
    </p>

    <hr/>

    <h3>2. Credit</h3>
    <p>
      2.1	This document was created using a template from SEQ Legal (https://seqlegal.com).
    </p>

    <hr/>

    <h3>3. Copyright notice</h3>

    <p>
      3.1	Subject to the express provisions of these terms and conditions:
      (a)	we own and control all the copyright and other intellectual property rights in our website and the material on our website; and
      (b)	all the copyright and other intellectual property rights in our website and the material on our website are reserved.      
    </p>

    <hr/>

    <h3>4.	Licence to use website</h3>

    <p>
      4.1	You may:
      (a)	view pages from our website in a web browser;
      (b)	download pages from our website for caching in a web browser;
      (c)	print pages from our website;
      (d)	stream audio and video files from our website; and
      (e)	use our website services by means of a web browser,
        subject to the other provisions of these terms and conditions.      
    </p>
    <p>
      4.2	Except as expressly permitted by Section 4.1 or the other provisions of these terms and conditions,
      you must not download any material from our website or save any such material to your computer.
    </p>
    <p>
      4.3	You may only use our website for business purposes,
      and you must not use our website for personal or any other purposes.
    </p>
    <p>
      4.4	Except as expressly permitted by these terms and conditions,
      you must not edit or otherwise modify any material on our website.
    </p>
    <p>
      4.5	Unless you own or control the relevant rights in the material, you must not:
      (a)	republish material from our website (including republication on another website);
      (b)	sell, rent or sub-license material from our website;
      (c)	show any material from our website in public;
      (d)	exploit material from our website for a commercial purpose; or
      (e)	redistribute material from our website.      
    </p>
    <p>
      4.6	Notwithstanding Section 4.5, you may redistribute Canopact’s email newsletters in print and electronic form to any person.
    </p>
    <p>
      4.7	We reserve the right to restrict access to areas of our website, or indeed our whole website,
      at our discretion; you must not circumvent or bypass, or attempt to circumvent or bypass,
      any access restriction measures on our website.
    </p>
        
    <hr/>
    
    <h3>5.	Acceptable use</h3>
    <p>
      5.1	You must not:
      (a)	use our website in any way or take any action that causes, or may cause, damage to the website or impairment of the performance, availability or accessibility of the website;
      (b)	use our website in any way that is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity;
      (c)	use our website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software;
      (d)	conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to our website without our express written consent;
      (e)	access or otherwise interact with our website using any robot, spider or other automated means, except for the purpose of search engine indexing;
      (f)	use data collected from our website for any direct marketing activity (including without limitation email marketing, SMS marketing, telemarketing and direct mailing).      
    </p>
    <p>
      5.2	You must not use data collected from our website to contact individuals, companies or other persons or entities.
    </p>
    <p>
      5.3	You must ensure that all the information you supply to us through our website, or in relation to our website,
      is true, accurate, current, complete and non-misleading.
    </p>
    <hr/>
    
    <h3>6.	Registration and accounts</h3>
    <p>
      6.1	To be eligible for an account on our website under this Section 6, you must sign up on behalf
      of your company and using your company email address. 
    </p>
    <p>
      6.2	You may register for an account with our website by completing and submitting the account registration form on our website
      and clicking on the verification link in the email that Canopact will send to you.
    </p>
    <p>
      6.4	You must notify us in writing immediately if you become aware of any unauthorised use of your account.
    </p>
    <p>
      6.5	You must not use any other person's account to access the website. 
    </p>

    <hr/>

    <h3>7.	User login details</h3>
    <p>
      7.1	If you register for an account with our website, you will be asked to choose a password.
    </p>
    <p>
      7.2	You must keep your password confidential.
    </p>
    <p>
      7.3	You must notify us in writing immediately if you become aware of any disclosure of your password.
    </p>
    <p>
      7.4	You are responsible for any activity on our website arising out of any failure to keep your password confidential
      and may be held liable for any losses arising out of such a failure.
    </p>
        
    <hr/>
    
    <h3>8.	Cancellation and suspension of account</h3>
    <p>
      8.1	We may:
      (a)	suspend your account;
      (b)	cancel your account; and/or
      (c)	edit your account details,
        at any time in our sole discretion.
    </p>
    <p>
      8.2	You may request to cancel your account by emailing info@canopact.com.
    </p>
    <p>
      The company shall not be liable to you or to any third party for any
      modification, price change, suspension or discontinuance of the service.
    </p>
        
    <hr/>
    
    <h3>9.	Limited warranties</h3>
    <p>
      9.1	We do not warrant or represent:
      (a)	the completeness or accuracy of the information published on our website;
      (b)	that the material on the website is up to date; or
      (c)	that the website or any service on the website will remain available.
    </p>
    <p>
      9.2	We reserve the right to discontinue or alter any or all of our website services, and to stop publishing our website,
      at any time in our sole discretion without notice or explanation; and save to the extent expressly provided otherwise in
      these terms and conditions, you will not be entitled to any compensation or other payment upon the discontinuance or
      alteration of any website services, or if we stop publishing the website.
    </p>
    <p>
      9.3	To the maximum extent permitted by applicable law and subject to Section 10.1, we exclude all representations and warranties
      relating to the subject matter of these terms and conditions, our website and the use of our website.
    </p>

    <hr/>
    
    <h3>10.	Limitations and exclusions of liability</h3>
    <p>
      10.1	Nothing in these terms and conditions will:
      (a)	limit or exclude any liability for death or personal injury resulting from negligence;
      (b)	limit or exclude any liability for fraud or fraudulent misrepresentation;
      (c)	limit any liabilities in any way that is not permitted under applicable law; or
      (d)	exclude any liabilities that may not be excluded under applicable law.
    </p>
    <p>
      10.2	The limitations and exclusions of liability set out in this Section 12 and elsewhere in these terms and conditions: 
      (a)	are subject to Section 10.1; and
      (b)	govern all liabilities arising under these terms and conditions or relating to the subject matter of these terms and conditions,
      including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty,
      except to the extent expressly provided otherwise in these terms and conditions.
    </p>
    <p>
      10.3	To the extent that our website and the information and services on our website are provided free of charge,
      we will not be liable for any loss or damage of any nature.10.3	To the extent that our website and the information
      and services on our website are provided free of charge, we will not be liable for any loss or damage of any nature.
    </p>
    <p>
      10.4	We will not be liable to you in respect of any losses arising out of any event or events beyond our reasonable control.
    </p>
    <p>
      10.5	We will not be liable to you in respect of any business losses, including (without limitation) loss of or damage to profits,
      income, revenue, use, production, anticipated savings, business, contracts, commercial opportunities or goodwill.
    </p>
    <p>
      10.6	We will not be liable to you in respect of any loss or corruption of any data, database or software.
    </p>
    <p>
      10.7	We will not be liable to you in respect of any special, indirect or consequential loss or damage.
    </p>
    <p>
      10.8	You accept that we have an interest in limiting the personal liability of our officers and employees and,
      having regard to that interest, you acknowledge that we are a limited liability entity; you agree that you will not
      bring any claim personally against our officers or employees in respect of any losses you suffer in connection with
      the website or these terms and conditions (this will not, of course, limit or exclude the liability of the limited
      liability entity itself for the acts and omissions of our officers and employees).
    </p>
    <hr/>

    <h3>11.	Breaches of these terms and conditions</h3>

    <p>
      11.1	Without prejudice to our other rights under these terms and conditions, if you breach these terms and conditions in any way, or
      if we reasonably suspect that you have breached these terms and conditions in any way, we may: 
      (a)	send you one or more formal warnings;
      (b)	temporarily suspend your access to our website;
      (c)	permanently prohibit you from accessing our website;
      (d)	commence legal action against you, whether for breach of contract or otherwise; and/or
      (e)	suspend or delete your account on our website.
    </p>
    <p>
      11.2	Where we suspend or prohibit or block your access to our website or a part of our website, you must not take any action
      to circumvent such suspension or prohibition or blocking (including, without limitation, creating and/or using a different account).
    </p>
    <hr/>

    <h3>12.	Variation</h3>
    <p>
      12.1	We may revise these terms and conditions from time to time.
    </p>
    <p>
      12.2	We will give you written notice of any material revisions of these terms and conditions, and the revised terms and
      conditions will apply to the use of our website from the date that we give you such notice; if you do not agree to the revised
      terms and conditions, you must stop using our website.
    </p>
    <p>
      12.3	If you have given your express agreement to these terms and conditions, we will ask for your express agreement
      to any material revision of these terms and conditions; and if you do not give your express agreement to the revised
      terms and conditions within such period as we may specify, we may disable or delete your account, and you must stop using the website.
    </p>

    <hr/>

    <h3>13.	Assignment</h3>

    <p>
      13.1	You hereby agree that we may assign, transfer, sub-contract or otherwise deal with our rights and/or obligations under these terms and conditions. 
    </p>
    <p>
      13.2	You may not without our prior written consent assign, transfer, sub-contract or otherwise deal with any of your rights and/or obligations under
      these terms and conditions. 
    </p>

    <hr/>

    <h3>14.	Severability</h3>
    <p>
      14.1	If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable,
      the other provisions will continue in effect.
    </p>
    <p>
      14.2	If any unlawful and/or unenforceable provision of these terms and conditions would be lawful or enforceable if part of it were deleted,
      that part will be deemed to be deleted, and the rest of the provision will continue in effect. 
    </p>

    <hr/>

    <h3>15.	Third party rights</h3>
    <p>
      15.1	A contract under these terms and conditions is for our benefit and your benefit and is not intended to benefit or be enforceable by any third party.
    </p>
    <p>
      15.2	The exercise of the parties' rights under a contract under these terms and conditions is not subject to the consent of any third party.
    </p>

    <hr/>

    <h3>16.	Entire agreement</h3>
    <p>
      16.1	Subject to Section 10.1, these terms and conditions, together with our privacy policy, shall constitute the entire agreement between you and
      us in relation to your use of our website and shall supersede all previous agreements between you and us in relation to your use of our website.
    </p>

    <hr/>

    <h3>17.	Law and jurisdiction</h3>

    <p>
      17.1	These terms and conditions shall be governed by and construed in accordance with English law.
    </p>
    <p>
      17.2	Any disputes relating to these terms and conditions shall be subject to the exclusive jurisdiction of the courts of England.
    </p>

    <hr/>

    <h3>18.	Our details</h3>

    <p>
      18.1	This website is owned and operated by Canopy Impact Limited T/A Canopact.
    </p>
    <p>
      18.2	We are registered in England and Wales under registration number 12660375, and our registered address is at 28 Magdalen Street, London, SE1 2EN.
    </p>
    <p>
      18.3	You can contact us:
      (a)	by using our website contact form; or
      (b)	by email, at info@canopact.com.
    </p>

    <small class="text-muted">Last updated September 27th 2021</small>
{% endblock %}
